body{
    font-family: 'Montserrat', sans-serif;
    margin-top: 116px;
}

.btn_border:hover{
    outline-color:rgb(254, 237, 1);
    outline-style: outset;
}


/* navbar */

.logo_sony,
.icon_lens{
    height: 25px;
}

.dropdown {
    position: static;
}

.dropdown-menu{
    border: none;
    border-radius: none;
}

.dropdown-menu.show{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 0;
  width: 100%;
}

.dropdown-toggle.show::after{
    transform: rotate(180deg);
}

/* section jumbo */

.jumbo{
    padding: 200px 0 50px ;
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
}

.jumbo_2{
    padding: 100px 0 50px ;
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
}

/* section "game_card */

.bl_card{
    padding: 3px;
    border: 3px solid transparent;
    border-radius: 1rem;
    overflow: hidden;
    transition: 1s;
}

.bl_card.active{
    border: 3px solid rgb(8, 152, 255);
}

.bl_card:hover{
    border: 3px solid rgb(8, 152, 255);
    transform: translateY(-10px);
}

.bl_card_green:hover{
    border: 3px solid rgb(20, 233, 5);
    transform: translateY(-10px);
}

.bl_card_gold.active{
    border: 3px solid rgb(237, 194, 39);
}

.bl_card_gold:hover{
    border: 3px solid rgb(237, 194, 39);
    transform: translateY(-10px);
}

.bl_card img{
    border-radius: calc(1rem - 6px);
}

/* section playstation_plus */

.playstation_plus{
    background-color: #BEBCBB;
}

/* section playstation_now */

.playstation_now{
    background-color: #161C3B;
}

/* section footer_link */

.footer_link{
    background-color: #00439C;
}

.foot_list{
    list-style-type: none;
}

.foot_globe{
    height: 30px;
}

.foot_globe:hover{
    transform:scale(1.1)
}

.foot_link{
    text-decoration: none;
    color: white;
}

.foot_link:hover{
    color: #04e5f1;
}

