body{
    font-family: 'Montserrat', sans-serif;
    margin-top: 116px;
}

/* .btn_border{
    border: 1px solid black;
    border-radius: 10rem;
} */

/* navbar */

.navbar_top img{
    height: 20px;
}

.fa-magnifying-glass{
    color: black;
}

.dropdown {
    position: static;
}

.dropdown-menu{
    border: none;
    border-radius: none;
}

.dropdown-menu.show{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 0;
  width: 100%;
}

/* section game_look */

.jumbo{
    padding: 200px 0 50px ;
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
}

/* section "game_card */

.bl_card img{
    border-radius: 1rem;
}

/* section play_is_here */

.presentation_play a{
    color: rgb(9, 49, 209);
}
